**/.venv/
**/.git/
**/.idea/
**/__pycache__/
**/assets/
**/staticfiles/
**/mysql_docker/
#!**/migrations/
keys/
traefik/

.yarnrc.yml
README.md
.gitignore
.gitlab-ci.yml
*.pyc
*.pyo
*.pyd
.Python
*.git
*.hg

.env

